body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
bodynav {
    margin: 0;
    font-family: Arial, sans-serif;
    
}
bodyfoot {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5722; /* Deep Orange Color */
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    
}

.logo-img {
    height: 70px; /* Adjust as needed */
    width: auto;
    border-radius: 5px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

.navbar-menu a:hover {
    background-color: #e64a19; /* Slightly darker shade of deep orange */
    border-radius: 4px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu li {
        margin: 0;
    }

    .navbar-menu a {
        padding: 10px;
        border-top: 1px solid #e64a19;
    }

    .navbar-toggle {
        display: flex;
    }
}

.navbar-menu.active {
    display: flex;
}






header {
    background-color: #FF5722;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo {
    font-size: 1.5em;
}

main {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}
form select{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color:#FF5722;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

footer {
    background-color: #FF5722;
    color: white;
    text-align: center;
    padding: 20px 0;
}
