body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5722; /* Deep Orange Color */
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    
}

.logo-img {
    height: 70px; /* Adjust as needed */
    width: auto;
    border-radius: 5px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

.navbar-menu a:hover {
    background-color: #e64a19; /* Slightly darker shade of deep orange */
    border-radius: 4px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu li {
        margin: 0;
    }

    .navbar-menu a {
        padding: 10px;
        border-top: 1px solid #e64a19;
    }

    .navbar-toggle {
        display: flex;
    }
}

.navbar-menu.active {
    display: flex;
}




.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #bf360c;
}

.search-container {
    margin: 20px 0;
    text-align: center;
}

#searchInput {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e64a19;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ffe0b2;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e64a19;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
